[submodule "_deps/riak-js"]
	path = _deps/riak-js
	url = https://github.com/wiztechnologies/riak-js
[submodule "_deps/connect-riak"]
	path = _deps/connect-riak
	url = https://github.com/wiztechnologies/connect-riak
[submodule "_deps/connect-s3store"]
	path = _deps/connect-s3store
	url = https://github.com/wiztechnologies/connect-s3store
[submodule "_deps/knox"]
	path = _deps/knox
	url = https://github.com/wiztechnologies/knox

