body {
	background: url(/_img/site/clouds1.svg) repeat top;
	background-color: #559dcc;
	font-size: 12px;
	text-align: center;
}

#wrapper {
	margin: auto auto auto auto;
}

.rounded-1 {
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.rounded-5 {
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.shadow {
	-o-box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.4);
}

.form {
    background: none repeat scroll 0 0 #F5F5F6;
    height: 58px;
    padding: 3px 10px;
    width: 671px;
}

.form input[type="text"], .form input[type="password"] {
    border: 1px solid #BBBBBB;
    font-family: 'Nixie One',cursive;
    font-size: 20px;
    height: 37px;
    margin: 6px 8px 0 0;
    padding: 3px 7px;
    width: 262px;
}

.form .error {
	border: 1px solid #fc6067;
}

.form .button {
    border: 1px solid;
    color: #FFFFFF;
    font-family: 'Paytone One',sans-serif;
    font-size: 16px;
    height: 45px;
    margin-top: 6px;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.form .submit {
	background-image: linear-gradient(bottom, #b3b3b3 2%, #cbcbcb 51%);
	background-image: -o-linear-gradient(bottom, #b3b3b3 2%, #cbcbcb 51%);
	background-image: -moz-linear-gradient(bottom, #b3b3b3 2%, #cbcbcb 51%);
	background-image: -webkit-linear-gradient(bottom, #b3b3b3 2%, #cbcbcb 51%);
	background-image: -ms-linear-gradient(bottom, #b3b3b3 2%, #cbcbcb 51%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, #b3b3b3),
		color-stop(0.51, #cbcbcb)
	);
	border-color: #989898;
	float: right;
	padding: 0 5px;
}

.form .submit:hover {
	background: #c9c9c9;
	cursor: pointer;
}

/* Notification Message */
.message {
	color: #333;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 16px;
    height: 58px;
    margin: 15px 0 0;
    padding: 3px 10px;
    width: 671px;
    display: none;	
}

.message img {
	padding-top: 5px;
}

.message span {
	padding: 6px 25px;
}

/* Error Message */
.error {
	background: #fc6067;
}

/* Success Message */
.success {
	background: #8dff96;
}

/* End of login */
.button {
    border: 1px solid;
    color: #FFFFFF;
    float: left;
    font-family: 'Paytone One',sans-serif;
    font-size: 20px;
    height: 30px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#wrapper {
	margin-top: 110px;
	width: 692px;
}

#wrapper #logo {
	width: 130px;
	margin: -100px 100px 15px auto;
}
