/* vim: set filetype=css ts=4 sw=4 autoindent smartindent: */

html {
	background-color: #606060;
}

body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	/* line-height: 1.5; */
	color: #1f2021;
	margin: 10px 40px 40px 40px;
	padding: 0px;
	background-color: #000;
	border: 2px solid #555;
}

a {
	/* font-weight: bold; */
}

a:link, a:visited {
	color: #9ecccc;
	text-decoration: none;
}
a:hover {
	color: #9effcc;
	text-decoration: underline;
}
a.img {
	border: 0;
}

form {
	display: inline;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

table.right {
	margin-left: auto;
	margin-right: 5px;
}

div.blackbg {
	background-color: #337b99;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	position: relative;
}

li ul {
	float: left;
	left: 0px;
	top: 0px;
}

#wrapper {
	min-width: 850px;
}

#toby_wrapper {
	position: relative;
	top: 0;
	height: 100px;
	background: #fff;
}

#toby_left {
	background-image: url('/_img/site/toby_leftbg.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
	float: left;
	width: 300px;
	height: 100%;
}

#toby_right {
	background-image: url('/_img/site/toby_rightbg.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
	height: 100%;
}

#toby_right_logo {
	background-image: url('/_img/site/wiz_technologies_text.png');
	background-repeat: no-repeat;
	background-position: 150px;
	background-size: auto 90%;
	height: 100%;
}

#toby_right_inside {
	position: relative;
	top: 25%;
	left: 3%;
	font-size: 20px;
	white-space: nowrap;
}

#sid_wrapper {
	z-index: 2;
	position: relative;
	height: 38px;
	padding: 0;
	border: 0;
	border-top: 2px solid #444;
	border-bottom: 1px solid #444;
	background: #008fac; /* Old browsers */
}

#searchbox {
	width: 120px;
}

#ivan_wrapper {
	position: relative;
	background: #fff url('/_img/site/ivan_rightbg.png') repeat-y right;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #444;
	border-top: 1px solid #222;
}

#ivan_left {
	background: url('/_img/site/ivan_leftbg.png') repeat-y left;
	padding-left: 100px;
	padding-right: 20px;
	margin-right: 200px;
	min-height: 700px;
}

#ivan_left_content { /* body */
	height: 100%;
	padding: 20px 35px 30px 8px;
}

#ivan_left_content a {
	color: black;
	font-weight: bold;
}

#ivan_right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	font-size: 15px;
}

#ivan_right ul, li {
	padding-left: 10px;
	padding-left: 10px;
}

#ivan_right_content_one {
	margin: 0;
	background: url('/_img/site/ivan_rightbg02.png') repeat-y;
	padding: 5px 3px 4px 30px;
	border-top: 1px solid #222;
	border-bottom: 2px solid #444;
	min-height: 70px;
}

#ivan_right_content_two {
	padding: 5px 3px 4px 30px;
}

#edgar_wrapper {
	background-color: #505050;
	position: relative;
	height: 40px;
}

#edgar_left {
	background: #26637f url('/_img/site/edgar_leftbg.png') repeat-y left;
	float: left;
	width: 180px;
	border-right: 2px solid #444;
	height: 40px;
	text-align: center;
}

#edgar_right {
	line-height: 1.88889;
	background-color: #337b99;
	height: 40px;
	font-size: x-small;
	text-align: center;
}

#tagcloud {
	text-align: center;
	margin-left: -20px;
}
.tag0 { font-size: 0.6em; font-weight: 0; }
.tag1 { font-size: 0.6em; font-weight: 50; }
.tag2 { font-size: 0.7em; font-weight: 100; }
.tag3 { font-size: 0.7em; font-weight: 150; }
.tag4 { font-size: 0.8em; font-weight: 200; }
.tag5 { font-size: 0.8em; font-weight: 250; }
.tag6 { font-size: 0.9em; font-weight: 300; }
.tag7 { font-size: 1.0em; font-weight: 350; }
.tag8 { font-size: 1.1em; font-weight: 400; }
.tag9 { font-size: 1.2em; font-weight: 450; }

#profile {
	width: 480px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#profile dt {
	vertical-align: top;
	font-weight: bold;
}


#nav {
	margin: 0;
	padding: 4px 4px 0;
	line-height: 100%;
	border-radius: 2em;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#nav a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0399d4 !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */

	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}

table.tableList a {
	color: #c75f3e;
}

table.tableList {
	width: 700px;
	padding: 0;
	margin: 0;
}

table.tableList caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

table.tableList th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA;
}

table.tableList th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

table.tableList td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

table.tableList td.alt {
	background: #F5FAFA;
	color: #797268;
}

table.tableList th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

table.tableList th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}
