extends wiz

block wizBody
		script(type='text/javascript').
			Stripe.setPublishableKey('pk_test_V8lLSY93CP6w9SFgqCmw8FUg');
		// Credit card form
		.demo-container
			.card-wrapper
			.form-container.active
				form(action='')
					input(placeholder='Card number', type='text', name='number')
					input(placeholder='Full name', type='text', name='name')
					input(placeholder='MM/YY', type='text', name='expiry')
					input(placeholder='CVC', type='text', name='cvc')
					input(type='submit', value='Buy')
		.container
			.row
				.col-xs-12.col-md-4
					.panel.panel-default
						.panel-heading
							h3.panel-title Billing Amount
						.panel-body
							form#payment-form(role='form')
								.row
									.col-xs-12
										.form-group
											label(for='cardNumber') VPN Subscription
											.input-group
				.col-xs-12.col-md-4
					.panel.panel-default
						.panel-heading
							h3.panel-title
								img.pull-right(src='_img/accepted_cards.png')
								| Payment Details
						.panel-body
							form#payment-form(role='form')
								.row
									.col-xs-12
										.form-group
											label(for='cardNumber') CARD NUMBER
											.input-group
												input.form-control(type='text', placeholder='Valid Card Number', required='', autofocus='', data-stripe='number')
												span.input-group-addon
													i.fa.fa-credit-card
								.row
									.col-xs-7.col-md-7
										.form-group
											label(for='expMonth') EXPIRATION DATE
											.col-xs-6.col-lg-6.pl-ziro
												input.form-control(type='text', placeholder='MM', required='', data-stripe='exp_month')
											.col-xs-6.col-lg-6.pl-ziro
												input.form-control(type='text', placeholder='YY', required='', data-stripe='exp_year')
									.col-xs-5.col-md-5.pull-right
										.form-group
											label(for='cvCode') CV CODE
											input.form-control(type='password', placeholder='CV', required='', data-stripe='cvc')
								.row
									.col-xs-12
										.form-group
											label(for='couponCode') COUPON CODE
											input.form-control(type='text')
								.row
									.col-xs-12
										button.btn.btn-success.btn-lg.btn-block(type='submit') Submit Payment
								.row(style='display:none;')
									.col-xs-12
										p.payment-errors

// vim: foldmethod=marker wrap
